.blog-section {

    background-color: #0284D0;




}

.blog-container {
    display: flex;
    padding-right: 0;
    padding-left: 0;



}

.blog-content {
    padding-right: 44px;
    padding-top: 112px;
    padding-bottom: 123px;
    padding-left: 30px;

}

.blog-time {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.65;
    color: #FFFFFF;
    text-transform: capitalize;
}

.blog-title {

    margin-bottom: 26px;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: #FFFFFF;
    text-transform: capitalize;
}

.blog-text {

    max-width: 606px;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;


}

.blog-button {
    border-radius: 5px;
    min-width: 196px;
    height: 50px;
    border: 1px solid #FFFFFF;


    padding: 11px 31px 10px 42px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    text-align: center;
    color: #FFFFFF;
    background-color: #0284D0;

    text-transform: capitalize;

}