.cases {
    padding-top: 50px;
    padding-bottom: 47px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--white-color);
}

.cases__subtitle {
    margin-bottom: 15px;

    font-size: 20px; 
    line-height: 1.65;
    text-align: center;

    color: var(--text-color);

}
// efkjvrlknvbrkjnbrwkjnbjbnmgrlkbmrlkmblgbgfb

.cases__title {
    margin-bottom: 34px;

    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;

    color: var(--text-color);
}

.cases__text-content {
    margin-bottom: 39px;

    font-size: 18px;
    line-height: 1.56;
    text-align: center;

    color: var(--text-color);
}

.cases__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 8px;

}