

.offer {
    background-color: var(--background-color-offer);
}

.offer-box {

    display: flex;
    padding: 0;



    color: var(--text-color-offer);
}

.offer-section {
    padding: 84px 44px 84px 30px;
}

.offer-subtitle {
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 1.65;
}

.offer-title {
    margin-bottom: 26px;

    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
}

.offer-text-content {
    margin-bottom: 17px;

    font-size: 18px;
    line-height: 1.56;
}

.offer-btn {
    min-width: 167px;
    padding: 11px 27px 12px 42px;

    display: inline-block;

    font-size: 18px;
    line-height: 1.56;
    text-align: center;

    background-color: var(--background-color-offer);
    border: 1px solid var(--btn-color-border);
    color: var(--text-color-offer);
    border-radius: 5px;
}

.input {
    padding: 0px;
}