<section class="blog-section">

    <div class="blog-container container">

        <div class="blog-content">

            <p class="blog-time"> <time datetime="2020-04-16">April 16 2020</time></p>

            <h2 class="blog-title">Blog post one</h2>

            <p class="blog-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos
                quae
                laudantium asperiores nam
                aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
                deleniti?
            </p>

            <button type="button" class="blog-button">Read our blog </button>

        </div>

        <img src="./images/blog-picture.jpg" alt="books and coffe on the table" width="680" />

    </div>
</section>