<section class="cases">
  <div class="container">
    <p class="cases__subtitle">This is what we do</p>
    <h2 class="cases__title">Business Cases</h2>
    <p class="cases__text-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
    <!-- <div class="gallery">
      <a href="./images/cases-1.jpg"><img src="images/thumbs/thumb1.jpg" alt="" title="" /></a>
      <a href="./images/cases-2.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title="Beautiful Image" /></a>
      <a href="./images/cases-3.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title="Beautiful Image" /></a>
      <a href="./images/cases-4.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title="Beautiful Image" /></a>
      <a href="./images/cases-2.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title="Beautiful Image" /></a>
      <a href="./images/cases-2.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title="Beautiful Image" /></a>
      <a href="./images/cases-2.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title="Beautiful Image" /></a>
      <a href="./images/cases-2.jpg"><img src="images/thumbs/thumb2.jpg" alt="" title="Beautiful Image" /></a>
    </div> -->


    <ul class="cases__gallery gallery">
      <li>
        <a href="./images/cases-1.jpg">
          <img src="./images/cases-1.jpg" alt="People mitting" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/cases-2.jpg">
          <img src="./images/cases-2.jpg" alt="A person works with graphic tables" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/cases-3.jpg">
          <img src="./images/cases-3.jpg" alt="People shake hands" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/cases-4.jpg">
          <img src="./images/cases-4.jpg" alt="Six people put their hands one on top of the other" width="320"
            height="214" />
        </a>
      </li>
      <li>
        <a href="./images/cases-5.jpg">
          <img src="./images/cases-5.jpg" alt="A person works at a laptop" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/cases-6.jpg">
          <img src="./images/cases-6.jpg" alt="The sky reflects in the windows of skyscrapers" width="320"
            height="214" />
        </a>
      </li>
      <li>
        <a href="./images/cases-7.jpg">
          <img src="./images/cases-7.jpg" alt="A group of people are sitting at a table in an office" width="320"
            height="214" />
        </a>
      </li>
      <li><a href="./images/cases-8.jpg">
          <img src="./images/cases-8.jpg" alt="Three people are working in the office and smiling at each other"
            width="320" height="214" />
        </a>
      </li>
    </ul>
  </div>
</section>