<section class="contact">
        <div class="contact__box container">
          <div class="contact__image">
            <img src="./images/man-work.jpg" alt="man-work" width="680" height="460" />
          </div>
          <div class="contact__section">
            <p class="contact__title">Request Callback</p>
            <form class="contact__form">
              <input type="text" name="name" placeholder="Enter your name" class="contact__input"/>

              <input type="email" name="mail" placeholder="Enter email*" class="contact__input" required />

              <button type="submit" class="contact__btn">Send</button>
            </form>
          </div>
      </section>