<section class="features">
  <div class="features-container">
    <h2 class="visually-hidden">Особливості</h2>
    <ul class="features-list">
      <li>
        <div class="features-list-icons">
          <div class="features-svg">
            <svg class="features-icons" width="35" height="35">
              <use href="./images/sprite.svg#icon-university"></use>
            </svg>
          </div>
          <h3 class="features-title">Investmant Banking</h3>
          <p class="features-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </div>
      </li>
      <li>
        <div class="features-list-icons">
          <div class="features-svg">
            <svg class="features-icons" width="35" height="35">
              <use href="./images/sprite.svg#icon-group"></use>
            </svg>
          </div>
          <h3 class="features-title">Portfolio Manager</h3>
          <p class="features-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </div>
      </li>
      <li>
        <div class="features-list-icons">
          <div class="features-svg">
            <svg class="features-icons" width="35" height="35">
              <use href="./images/sprite.svg#icon-pencil"></use>
            </svg>
          </div>
          <h3 class="features-title">Tax &amp; Custudio</h3>
          <p class="features-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
