<footer>
    <div class="footer">
        <div class="container footer__box">
            <div class="footer-list-social">
                <ul class="footer-list-social__case list">
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow" class="footer-list-social__link">
                            <svg aria-lable="facebook icon" class="footer-list-social__icon" width="35" height="35">
                                <use href="../src/images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow" class="footer-list-social__link">
                            <svg aria-lable="twitter icon" class="footer-list-social__icon" width="35" height="35">
                                <use href="../src/images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow" class="footer-list-social__link">
                            <svg aria-lable="youtube icon" class="footer-list-social__icon" width="40" height="35">
                                <use href="../src/images/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener noreferrer nofollow" class="footer-list-social__link">
                            <svg aria-lable="linkedin icon" class="footer-list-social__icon" width="31" height="35">
                                <use href="../src/images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer-copyright">Copyright &#169 2021 - FinanceLedger</p>
        </div>
    </div>
</footer>