<section class="offer">
    <div class="offer-box container">
        <div class="offer-image">
            <img src="./images/offer_team.jpg" alt="Our Team">
        </div>
        <div class="offer-section">
            <p class="offer-subtitle">What you are looking for</p>
            <h2 class="offer-title">We provide bespoke solutions</h2>
            <p class="offer-text-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptate, ipsum dignissimos quae laudantium asperiores nam
                aliquid impedit harum illum dolore explicabo ab dolores itaque
                rerum temporibus doloribus iste maiores deleniti?</p>
            <button class="offer-btn" type="button">Read More</button>
        </div>
    </div>
</section>