<section class="section-team">
   <div class="team__box container">
      <p class="team__subtitle">Who we are</p>
      <h2 class="team__title">Our Professional Team</h2>
      <p class="team__slogan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
      </p>
      <ul class="team__list">
         <li class="team__cards">
            <div class="team__box">
               <img src="./images/team-card-1.jpg" alt="president" width="420" height="280" />
               <div class="team__team__social-list-wrapper">
                  <ul class="team__social-list">
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="facebook-icon" class="team__social-list-icon">
                              <use href="../src/images/sprite.svg#icon-facebook"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="twitter-icon" class="team__social-list-icon">
                              <use href="./images/sprite.svg#icon-twitter"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="youtube-icon" class="team__social-list-icon youtube-icon">
                              <use href="./images/sprite.svg#icon-youtube"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="linkedin-icon" class="team__social-list-icon linkedin-icon">
                              <use href="./images/sprite.svg#icon-linkedin"></use>
                           </svg>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>

            <h3 class="team-member">John Doe</h3>
            <p class="position">President</p>
         <li class="team__cards">
            <div class="team__box">
               <img src="./images/team-card-2.jpg" alt="vice president" width="420" height="280" />
               <div class="team__team__social-list-wrapper">
                  <ul class="team__social-list">
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="facebook-icon" class="team__social-list-icon">
                              <use href="./images/sprite.svg#icon-facebook"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="twitter-icon" class="team__social-list-icon">
                              <use href="./images/sprite.svg#icon-twitter"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="youtube-icon" class="team__social-list-icon youtube-icon">
                              <use href="./images/sprite.svg#icon-youtube"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="linkedin-icon" class="team__social-list-icon linkedin-icon">
                              <use href="./images/sprite.svg#icon-linkedin"></use>
                           </svg>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <h3 class="team-member">Jane Doe</h3>
            <p class="position" lang="en">Vice President</p>

         <li class="team__cards">
            <div class="team__box">
               <img src="./images/team-card-3.jpg" alt="marketing head" width="420" height="280" />
               <div class="team__team__social-list-wrapper">
                  <ul class="team__social-list">
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="facebook-icon" class="team__social-list-icon">
                              <use href="./images/sprite.svg#icon-facebook"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="twitter-icon" class="team__social-list-icon">
                              <use href="./images/sprite.svg#icon-twitter"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="youtube-icon" class="team__social-list-icon youtube-icon">
                              <use href="./images/sprite.svg#icon-youtube"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="team__social-list-item">
                        <a href="" class="team__social-list-link">
                           <svg aria-label="linkedin-icon" class="team__social-list-icon linkedin-icon">
                              <use href="./images/sprite.svg#icon-linkedin"></use>
                           </svg>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <h3 class="team-member">Steve Smith</h3>
            <p class="position" lang="en">Marketing Head</p>

      </ul>

   </div>

</section>
